<section>
  <header>
    <h1> TA-DA! </h1>
  </header>
  <article>
    <ul>
      <li><%= link_to "Home", home_path %></li>
      <li><%= link_to "Tutorial", '#' %></li>
      <li><%= link_to "New Project", '#'%></li>
      <li><%= link_to "My Page", '#' %></li>
    </ul>
  </ariticle>
</section>
