<section class="slider">

  <nav class="slide-nav">
    <ul>
      <li><a href="#">01</a></li>
      <li><a href="#">02</a></li>
      <li><a href="#">03</a></li>
      <li><a href="#">04</a></li>
      <li><a href="#">05</a></li>
      <li><a href="#">06</a></li>
    </ul>
  </nav>
  
  <ul class="slides">
    <li><img src="http://kylefoster.me/cp/Up01.jpg" alt="Slide One"></li>    
    <li><img src="http://kylefoster.me/cp/Up02.jpg" alt="Slide Two"></li>
    <li><img src="http://kylefoster.me/cp/Up03.jpg" alt="Slide Three"></li>
    <li><img src="http://kylefoster.me/cp/Up04.jpg" alt="Slide Four"></li>
    <li><img src="http://kylefoster.me/cp/Up05.jpg" alt="Slide Five"></li>
    <li><img src="http://kylefoster.me/cp/Up06.jpg" alt="Slide Five"></li>
  </ul> 

</section>
